In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"animals":["dog", "cat", "dog", "cat", "car", "beaver"], "size":[3,2,3,2,1,5]})

In [3]:
df

  animals  size
0     dog     3
1     cat     2
2     dog     3
3     cat     2
4     car     1
5  beaver     5

In [4]:
df.animals.unique()

array(['dog', 'cat', 'car', 'beaver'], dtype=object)

In [5]:
pd.get_dummies(df.animals, prefix = "data")

   data_beaver  data_car  data_cat  data_dog
0            0         0         0         1
1            0         0         1         0
2            0         0         0         1
3            0         0         1         0
4            0         1         0         0
5            1         0         0         0

In [6]:
y = pd.get_dummies(df.animals, prefix = "data")

In [7]:
y

   data_beaver  data_car  data_cat  data_dog
0            0         0         0         1
1            0         0         1         0
2            0         0         0         1
3            0         0         1         0
4            0         1         0         0
5            1         0         0         0

In [9]:
pd.concat([df.drop("animals", axis=1),y], axis=1)

   size  data_beaver  data_car  data_cat  data_dog
0     3            0         0         0         1
1     2            0         0         1         0
2     3            0         0         0         1
3     2            0         0         1         0
4     1            0         1         0         0
5     5            1         0         0         0